body {
  margin: 0;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.left-bar-vert {
  position: fixed;
  margin: 20px;
  width: 150px;
  background-color: antiquewhite;
}

.logo {
  width: 100%;
  height: auto;
}

.logo:hover {
  transform: scale(1.1);
}

.link {
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.share {
  height: 50px;
  padding-top: 20px;
  text-align: center;
}

.share-image {
  display: inline-block;
  width: 20%;
  padding: 5px;
  height: auto;
  border-radius: 100%;
  border: solid 1px transparent;
}

.share-image:hover {
  border: solid 1px white;
}

.content {
  position: fixed;
  left: 190px;
  top: 20px;
  margin-right: 20px;
}

.title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
  text-align: center;
}

.header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 30px;
}

.text {
  background-color: blanchedalmond;
  padding: 20px;
  line-height: 1.2em;
  border-radius: 10px;
}

.text::first-letter {
  font-family: fantasy;
  font-size: 30px;
  font-weight: bold;
}

.link:hover {
  font-weight: bold;
}

.float-left {
  float: left;
}

.house-stark {
  padding-right: 15px;
}
