body {
  margin: 0;
}

.top-bar {
  background-color: gold;
  margin: 50px;
}

.logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 20px;
  border: solid;
  border-color: gold;
  border-radius: 100%;
}

.title {
  display: inline-block;
  margin: auto;
}

.links {
  display: inline-block;
}

.logo:hover {
  border-color: black;
}

.text-area {
  display: inline-block;
  border: solid goldenrod 5px;
  margin: 50px;
  margin-left: 0px;
}

.sub-links {
  position: relative;
  display: inline-block;
  background-color: lightskyblue;
  width: 200px;
  margin-right: 0px;
  margin-left: 50px;
}
