body {
  margin: 0px;
  background-color: rgb(15, 15, 55);
}

.font-quicksand {
  font-family: Quicksand, sans-serif;
  font-size: 20px;
}

.top-nav {
  display: block;
  width: 100%;
}

.title-box {
  margin: 30px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
}

.title {
  font-family: Monoton, serif;
  font-size: 40px;
  float: left;
  color: deeppink;
}

.top-nav-options {
  position: relative;
  margin: 30px;
  margin-bottom: 10px;
  margin-top: 25px;
  text-align: center;
  float: right;
}

.option {
  font-family: Quicksand, sans-serif;
  display: inline-block;
  font-size: 20px;
  margin: 30px;
  margin-bottom: 10px;
  width: 100px;

  color: aliceblue;
}

.option a {
  font-family: Quicksand, sans-serif;
  font-size: 20px;
  color: aliceblue;
  text-decoration: none;
}

.dropdown {
  display: inline-block;
  margin: 30px;
  margin-bottom: 10px;
  width: 100px;
  font-family: Quicksand, sans-serif;
  font-size: 20px;
  color: aliceblue;
  border-bottom: solid cyan 2px;
}

.dropdown:hover .dropdown-options-box {
  display: block;
}

.dropdown-options-box {
  display: none;
  background-color: rgb(15, 15, 55);
  border: solid cyan 2px;
  position: absolute;
  width: 150px;
}

.dropdown-option {
  display: block;
  padding: 5px;
  font-family: Quicksand, sans-serif;
  font-size: 20px;
  color: aliceblue;
}

.dropdown-option a {
  font-family: Quicksand, sans-serif;
  font-size: 20px;
  color: aliceblue;
  text-decoration: none;
}

.dropdown-option a:hover {
  color: orangered;
}

.option a:hover {
  color: orangered;
}

.horizontal-line {
  text-align: center;
  display: inline-block;
  margin: 2px;
  width: 100%;
  height: 2px;
}

.line-azure {
  display: block;
  background-color: azure;
}

.line-dark-azure {
  display: block;
  background-color: rgb(200, 255, 255);
}

.line-dark-dark-azure {
  display: block;
  background-color: rgb(119, 255, 255);
}

.content-title {
  color: cyan;
  font-size: 80px;
  margin-left: 20px;
  margin-right: -60px;
  margin-top: -58px;
  font-family: Monoton, serif;
  text-decoration: underline;
  display: block;
  float: right;
}

.content {
  border-left: solid 5px cyan;
  border-bottom: solid 5px cyan;
  display: block;
  width: 700px;
  min-width: 700px;
  margin: auto;
  background-color: rgb(15, 15, 70);
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 30px;
  color: white;
  font-family: Quicksand, sans-serif;
  font-size: 20px;
  padding: 30px;
  min-height: 250px;
}

.content-subtitle {
  display: block;
  margin-top: 30px;
  color: cyan;
  font-size: 40px;
  font-family: Monoton, serif;
  float: left;
}

.movie-frame {
  display: block;
  text-align: center;
  margin: 20px;
  padding: 20px;
}
