body {
  margin: 0;
}

.title-bar {
  background-color: orangered;
  margin: 20px;
  text-align: center;
}

.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  font-size: 60px;
}

.title::first-letter {
  font-size: 80px;
  font-weight: bold;
}

.left-nav {
  border-top: dotted deeppink 4px;
  border-right: solid orangered 4px;
  border-bottom: dotted coral 4px;
  border-left: solid deeppink 4px;
  border-radius: 30px;
  margin: 20px;
  text-align: center;
}

.nav-button {
  display: inline-block;
  margin: 10px;
  background-color: white;
  border: orangered solid 1px;
  border-radius: 10px;
  text-align: center;
  height: auto;
  width: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.nav-button:hover {
  background-color: orangered;
  color: white;
}
